<div class="container-fluid">
    <div class="row mt-5 mb-5">
      <div class="col-md-10 col-sm-12 offset-md-1">
        <div class="card">
          <img
            class="card-image-top login-bg-img"
            src="../../assets/image/dp-login-bg-img.jpg"
            alt="bg-img-login"
          />
          <div class="card-img-overlay">
            <div class="row mt-5">
              <div class="col-md-6 col-sm-12 offset-md-6">
                <div class="text-center text-success display-4">
                  Login
                </div>
                <div class="text-success text-center">
                  for Admins 
                </div>
                <form action="#" class="mb-3">
                  <mat-form-field class="full-width">
                    <mat-label>
                      Contact no.
                    </mat-label>
                    <input matInput placeholder="Enter contact number" />
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>
                      Password
                    </mat-label>
                    <input matInput placeholder="Enter password" />
                  </mat-form-field>
                  <button type="button" class="btn btn-success">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
