<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class=" textcolorg "><h1><b>Restaurant #{{restaurantData[0].restaurantId}}</b></h1></div>
            <div class="space"><b>Restaurant Name<span style="margin-left:4px;margin-right:20px;">:</span></b>    {{restaurantData[0].restaurantName}}</div>
            <div class="space"><b>Contact Number<span style="margin-left:10px;margin-right:20px;">:</span></b>    {{restaurantData[0].restaurantMobile}}</div>
            <div class="space"><b>Email Id <span style="margin-left:74px;margin-right:20px;">:</span></b>    {{restaurantData[0].restaurantEmail}}</div>
            <div class="space"><b>About<span style="margin-left:95px;margin-right:20px;">:</span></b>    {{restaurantData[0].restaurantAbout}}</div>
            <div class="space"><b>Address<span style="margin-left:75px;margin-right:20px;">:</span></b>    {{restaurantData[0].restaurantAddress}}</div>
            <div class="space"><b>Pincode<span style="margin-left:75px;margin-right:20px;">:</span></b>    {{restaurantData[0].restaurantPincode}}</div>

        </div>
    </div>
</div>
