<div class="container-fluid ">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 ">
           <div class="card">
              <!-- <img class="card-img-top login-bg-img" src="../../assets/image/dp-login-bg-img.jpg"> -->
              <img class="card-img bgimg" src="../../assets/image/dp-login-bg-img.jpg" alt="Card image">
              <div class="card-img-overlay">
              <mat-card-content>
                <div class="row ">
                    <div class="col-md-6 col-sm-12 offset-md-6">
                        <div class="text-center text-success display-4 logfont">
                            Login
                          </div>
                          <div class="text-success text-center">
                            for restaurants
                          </div>
                          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                            <div class="form-group">        
                <mat-form-field class="full-width">
                    <mat-label>
                      Contact no.
                    </mat-label>
                    <input type="number" matInput placeholder="Enter contact number" id="restaurantLoginContact"
                      formControlName="contact" />
                  </mat-form-field>
                </div>    
                  <div class="form-group">
                  <mat-form-field class="full-width">
                  <mat-label>
                    Password
                  </mat-label>
                  <input type="password" matInput placeholder="Enter contact number" id="restaurantLoginPassword"
                    formControlName="password" />
                </mat-form-field>
            
        </div>
        <div class="form-group">
            
            
            <button mat-raised-button color="primary" class=" float-left" [disabled]="loginForm.invalid">Login</button>
      
  </div>
  
  
                          </form>
                          <br>
                          <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
                          <br>
                          <div class="registerlink">
                            <a class="text-primary" href="/deliveryperson/register">New User? Please click here to register.</a>
                          </div>
                        </div>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </div>
</div>
