<div class="row">
    <div class="col-md-8 col-lg-8 col-12 offset-md-2 offset-lg-2">
        <div class="login-form-block">
            <div class="form-area">
                <div class="form-heading text-center">
                    <span class="h3">Login</span>
                </div>
                <form action="">
                    <mat-form-field class="form-group">
                        <mat-label>Contact Number</mat-label>
                        <input matInput type="tel" name="contact" id="contact"  class="form-control" />
                    </mat-form-field>
                    <mat-form-field class="form-group">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="pass" id="pass"  class="form-control" />
                    </mat-form-field>

                    <div>
                        <button class="btn btn-success login-btn">Login</button>
                    </div>
                </form>
                <div class="register-banner">
                    <span>New Here? Click here to join us!</span>
                </div>
            </div>
        </div>
    </div>
</div>