<div>
  <h1 class="z">Registered Restaurants</h1>
</div>
<table class="table tl">
    <thead>
      <tr>
        <th scope="col">Restaurant ID</th>
        <th scope="col">Restaurant Name</th>
        <th scope="col">Restaurant Contact</th>
        <th scope="col">Restaurant Address</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="rest">
        <div *ngFor="let r of rest">
        <tr>
      <th scope="row">{{r.restaurantId}}</th>
          <td>{{r.restaurantName}}</td>
          <td>{{r.restaurantMobile}}</td>
          <td>{{r.restaurantAddress}}</td>
          <td><button class="btn btn-danger" (click)="del(r.restaurantId)">Delete</button></td>
        </tr>
      </div>
      </div>
      </tbody>
  </table>
