<div class="row">
    <div class="col-12">
        <div class="home-container text-center">
            <img src="../../assets/image/backgroung.jpg" height="500px" width="800px" class="hero-img" alt="background" />
           
            <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-12">
                <div class="search-bar">
                    <input type="text" class="form-control" placeholder="Enter what you seek. 🍳"/>&nbsp;
                    <button class="search-btn btn btn-success">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>