<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="card">
            <img class=" bgimg" src="../../assets/image/backgroung.jpg" alt="Card image">
            
            <div class="card-img-overlay textbg ">
            <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-12 ">
                <div class="display-4 textcolor">Feed More.Sell More.</div>
                <div class="display-4 textcolor">Join <span class="textcolorg" >Bhukkad Family</span><span class="text-danger">.</span></div>
            </div>
        </div>
    </div>
    </div>
</div>
