<div class="row">
    <div class="col-12 heading">
        <span class="h2">{{user.name}}'s Profile</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="content-block">
            <form [formGroup]="editForm" (ngSubmit)="edit()" enctype="multipart/form-data">
                <div class="content">
                    <table>
                        <tr>
                            <td> <strong>Username:</strong> </td>
                            <td> <input type="text" value="{{user.name}}" class="form-control" formControlName="name" /> </td>
                        </tr>
                        <tr>
                            <td> <strong>Contact Number:</strong> </td>
                            <td> <input type="tel" value="{{user.mobileNum}}" class="form-control" formControlName="mobileNum" /> </td>
                        </tr>
                        <tr>
                            <td> <strong>Email ID:</strong> </td>
                            <td> <input type="email" value="{{user.email}}" class="form-control" formControlName="email" /></td>
                        </tr>
                    
                    </table>
                </div>
                <div class="image">
                    <img src="{{deliveryPersonImage}}" alt="user image" /> <br> <br>
                    <strong> Select an image: </strong>
                    <input type="file" (change)="checkFile($event)" />
                </div>
            </form>
            <div class="row">
                <div class="button-block col-4 offset-8 text-center">
                    <button class="btn btn-success save-btn" type="submit" (click)="edit()">Save Changes</button>
                    <button class="btn btn-danger discard-btn">Discard Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>