.navbar{
    background-color: #fbfcc9;
    width: 100%;
}

.as{
  color: #dd2c26;
  position: absolute;
  left:    0;
  bottom:   0;
  margin-bottom: 10px;
}
.asa{
  color: #dd2c26;
  position: absolute;
  left:    0;
  bottom:   40px;
}

.as:hover{
  color:#63a033
}

.asa:hover{
  color:#63a033
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    background-color: rgba(236, 236, 204, 0.8);
  }
  
  /* The sidebar links */
  .sidebar a,p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #4c5049;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color:#63a033;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #4c5049;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }