<div class="row">
    <div class="col-12  text-center">
        <img src="../../assets/image/backgroung.jpg" width="800px" height="500px" class="img" alt="image">
        <div class="card-img-overlay">
            <div class="row m">
              <div class="col-md-8 col-sm-12 offset-md-2">
                <span class="text-center text-success display-4">
                  Bhukkad<span class="text-danger ">.</span>
                </span>
                <div class="text-center text-light  display-4">
                  Place where hunger <span class="text-danger ">strikes<span class="text-success ">.</span></span>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>