.imp{
    background-color:  #fbfcc9;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
.img{
    margin-top: 30px;
    border-radius: 25px;
    z-index: -10;
}

.ts{
    color: #63a033;
}

.td{
    color: #dd2c26;
}

.tl{
    color: #fbfcc9;
}

.m{
    margin-top: 100px;
}